html, body {
  display: flex;
  margin: 0;
  padding: 0;
}

html { 
  overflow-x: hidden;
  overflow-y: hidden;
}

.config-panel {
    position: absolute; 
    z-index: 1;
    padding: 5px;
}

.note {
  color: darksalmon;
}

canvas {
    display: block;
    background-color: black;
}